# ==========================================================
# ENVIRONNEMENT
# ==========================================================

.env
*.env

.venv/
venv/


# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*.pyo


# ==========================================================
# DJANGO
# ==========================================================

staticfiles/
media/

*.sqlite3


# ==========================================================
# CELERY
# ==========================================================

celerybeat-schedule
celerybeat-schedule-*


# ==========================================================
# NODE
# ==========================================================

node_modules/


# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/


# ==========================================================
# OS
# ==========================================================

.DS_Store
Thumbs.db