# ==========================================================
# ENVIRONNEMENT / SECRETS
# ==========================================================

.env
*.env
!.env.example

.venv/
venv/


# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*.pyo


# ==========================================================
# DJANGO
# ==========================================================

# staticfiles/
# media/

# ==========================================================
# QUIZ — IMAGES
# ==========================================================

# !BACKEND/media/
# !BACKEND/media/quiz/
# !BACKEND/media/quiz/questions/
# !BACKEND/media/quiz/questions/*.png
# !BACKEND/media/quiz/questions/*.jpg
# !BACKEND/media/quiz/questions/*.jpeg

*.sqlite3


# ==========================================================
# CELERY
# ==========================================================

celerybeat-schedule
celerybeat-schedule-*
celerybeat-schedule-shm
celerybeat-schedule-wal


# ==========================================================
# NODE / NEXT.JS
# ==========================================================

node_modules/
.next/
out/
.turbo/


# ==========================================================
# TEST / BUILD / CACHE
# ==========================================================

*.log
.pytest_cache/
.mypy_cache/


# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/


# ==========================================================
# OS
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini